<!doctype html>
<html>
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" ><!--Prevent IE using compatibility mode on local or intranet pages-->
  <meta charset="UTF-8">
  <title>Webknife</title>
  <link rel="stylesheet" href="framework/style.css" type="text/css" />
  
  <style>
  #banner {color: #385691; padding-top: 50px; background: white url('framework/images/gradient.png') repeat-x left bottom;}
  #banner-buttons {background-color:#f3f3f3; border-bottom: 1px solid #385691;}

  #banner-buttons button
  {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom: none;
  }
  </style>
  
 </head>

 <body>

 <div id="siteHeader"><div class="fixed_width">
  <a href="./index.html" id="title">
   <img src="framework/images/logo.png" id="logo" alt="logo"/>
   <span>Webknife - a web presentation framework</span>
  </a>
 </div></div>

 <div id="banner"><div class="fixed_width">
   <h1 class="massive center">Make elegant web interfaces in minutes.</h1>
   <img class="center" src="framework/images/overview.png"  alt="overview" />
 </div></div>
 
 <div id="banner-buttons"><div class="fixed_width">
  <span class="center">
    <button class="large colored" type="button">Download</button>
	<a href="http://www.assembla.com/spaces/webknife/support/tickets"><button class="large dark" type="button">Report Issues</button></a>
  </span>
 </div></div>
 
 <div id="content"><div class="fixed_width">

 <a href="reference.html">Reference Page</a>

 </div></div> 

 <div id="base"><div class="fixed_width">
  <span>&nbsp;</span>
 </div></div>

 <div id="footer"><div class="fixed_width">
  <div>&copy;2011 The Webknife Project</div>
  <p>Licensed under the MIT license.</p>
 </div></div>
 
 </body>
</html>

