<!doctype html>
<html>
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" ><!--Prevent IE using compatibility mode on local or intranet pages-->
  <meta charset="UTF-8">
  <title>Webknife</title>
  <link rel="stylesheet" href="framework/style.css" type="text/css" />
  
  <style>
  #banner {color: #385691; font-weight: bold; padding-top: 30px; background-color: #f7f7f7 }
  #banner img {padding: 25px 0 25px 0;}
  #banner-buttons {background-color: #f7f7f7; border-bottom: 1px solid #385691;}
  /*#banner-buttons span { position:relative; left: 138px; }*/
  #banner-buttons a {text-decoration: none; } 
  #banner-buttons button { border-bottom: 1px solid #385691; }
  .spaced {margin-right: 15px;}
  .lowered
  {
	position: relative;
	top: 8px; /*height difference between large and small buttons -1px*/
  }
  
  .hide-background { background-color:#fff; }
  .hide-top { border-top:1px solid #fff; }
  .hide-right { border-right:1px solid #fff; }
  .hide-bottom { border-bottom:1px solid #fff; }
  .hide-left { border-left:1px solid #fff; }
  </style>
  
 </head>

 <body>

 <div id="siteHeader"><div class="fixed_width">
  <a href="./index.html" id="title">
   <img src="framework/images/logo.png" id="logo" alt="logo"/>
   <span>Webknife - a web presentation framework</span>
  </a>
 </div></div>

 <div id="banner"><div class="fixed_width">
   <h1 class="massive center no-underline">Make elegant web interfaces in minutes.</h1>
   <img class="center" src="index/overview.png"  alt="overview" />
 </div></div>
 
 <div id="banner-buttons"><div class="fixed_width">
  <span class="center">
	<a href=""><button class="large colored flat spaced" type="button">Download</button></a>
	<a href="http://www.assembla.com/spaces/webknife/support/tickets"><button class="dark lowered flat spaced" type="button">Report Issues</button></a>
	<a href=""><button class="lowered flat" type="button">Do you use Webknife?</button></a>
  </span>
 </div></div>
 
 <div id="content"><div class="fixed_width">

 <h2>Features</h2>
 
 <p>...</p>
 
 <h2>How to get started</h2>
 
 <a href="reference.html">Reference Page</a>

 <h2>Predictable Browser Support</h2>
 
 <p>The Webknife browser support policy is listed below</p>
 
 <table style="width:100%;">
  <thead>
   <tr>
    <th class="hide-background hide-top hide-bottom hide-left hide-right" style="width:50px;"></th>
    <th class="hide-background hide-top hide-bottom hide-left hide-right"></th>
	<th class="hide-background hide-top hide-bottom hide-left" style="width:200px;"></th>
    <th colspan="4" style="text-align:center; border: 1px solid #999;">Browser Support Policy</th>
   </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
   <tr>
    <td class="hide-background hide-top hide-left hide-right hide-bottom"></td>
    <td class="hide-background hide-top hide-left hide-right"></td>
    <td class="hide-background hide-top hide-left"></td>
	<td><strong>Full</strong><br/><em>(visually consistent)</em></td>
	<td><strong>Moderate</strong><br/><em>(functional)</em></td>
	<td><strong>None</strong><br/><em>(not tested)</em></td>
    <td class="gray small"><em>Release testing on:</em></td>
   </tr>
   
   <!--IE-->
   <tr>
    <td rowspan="3" class="icon hide-background hide-top hide-bottom hide-left" style="background-image: url('index/ie.png'); width:32px; height:32px;"></td>
    <td rowspan="3" style ="background-color:#f1f1f1;">Internet Explorer</td>
    <td><strong>9</strong></td>
	<td class="icon tick"></td>
    <td></td>
	<td></td>
	<td class="gray small"><a href="http://www.microsoft.com/download/en/details.aspx?id=13950">Internet Explorer 9</a> for Windows 7</td>
   </tr>
   <tr>
    <td><strong>8</strong></td>
	<td></td>
	<td class="icon tick"></td>
	<td></td>
	<td class="gray small"><a href="http://www.microsoft.com/download/en/details.aspx?id=43">Internet Explorer 8</a> for Windows XP</td>
   </tr>
   <tr>
    <td><strong>Older</strong></td>
	<td></td>
	<td></td>
	<td class="icon cross"></td>
	<td class="gray small">-</td>
   </tr>
   
   <!--Chrome-->
   <tr>
    <td rowspan="2" class="icon hide-background hide-top hide-bottom hide-left" style="background-image: url('index/chrome.png'); width:32px; height:32px;"></td>
    <td rowspan="2" style ="background-color:#fff;">Chrome</td>
    <td><strong>14</strong></td>
	<td class="icon tick"></td>
    <td></td>
	<td></td>
    <td class="gray small"><a href="http://www.google.com/chrome/">Google Chrome</a> on Windows XP</td>
   </tr>
    <td><strong>Older</strong><span class="gray small"> (auto-updated*)</td>
	<td></td>
	<td></td>
	<td class="icon cross"></td>
    <td></td>
   </tr>
   
   <!--Firefox-->
   <tr>
    <td rowspan="3" class="icon hide-background hide-top hide-bottom hide-left" style="background-image: url('index/firefox.png'); width:32px; height:32px;"></td>
    <td rowspan="3" style ="background-color:#f1f1f1;">Firefox</td>
    <td><strong>Latest (7)</strong></td>
	<td class="icon tick"></td>
    <td></td>
	<td></td>
    <td></td>
   </tr>
   <tr>
    <td><strong>3.6</strong></td>
	<td></td>
	<td class="icon tick"></td>
	<td></td>
	<td></td>
   </tr>
   <tr>
    <td><strong>Older</strong></td>
	<td></td>
	<td></td>
	<td class="icon cross"></td>
    <td class="gray small">-</td>
   </tr>
   
   <!--Safari-->
   <tr>
    <td rowspan="3" class="icon hide-background hide-top hide-bottom hide-left" style="background-image: url('index/safari.png'); width:32px; height:32px;"></td>
    <td rowspan="3" style ="background-color:#fff;">Safari</td>
    <td><strong>5</strong></td>
	<td class="icon tick"></td>
    <td></td>
	<td></td>
    <td></td>
   </tr>
   <tr>
    <td><strong>4</strong></td>
	<td></td>
	<td class="icon tick"></td>
	<td></td>
    <td></td>
   </tr>
   <tr>
    <td><strong>Older</strong></td>
	<td></td>
	<td></td>
	<td class="icon cross"></td>
	<td class="gray small">-</td>
   </tr>
   
   <!--Opera-->
   <tr>
    <td rowspan="2" class="icon hide-background hide-top hide-bottom hide-left" style="background-image: url('index/opera.png'); width:32px; height:32px;"></td>
    <td rowspan="2" style ="background-color:#f1f1f1;">Opera</td>
    <td><strong>11</strong></td>
	<td class="icon tick"></td>
    <td></td>
	<td></td>
	<td></td>
   </tr>
    <td><strong>Older</strong></td>
	<td></td>
	<td></td>
	<td class="icon cross"></td>
	<td class="gray small">-</td>
   </tr>
   
  </tbody>
 </table>
 
 <p>*some browsers automatically update old versions to the latest stable release.</p>
 
 <p>Issues can only be accepted against supported browser versions.</p>
 
 </div></div> 

 <div id="base"><div class="fixed_width">
  <span>&nbsp;</span>
 </div></div>

 <div id="footer"><div class="fixed_width">
  <div>&copy;2011 The Webknife Project</div>
  <p>Licensed under the MIT license.</p>
 </div></div>
 
 </body>
</html>

