<!doctype html>
<html>
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" ><!--Prevent IE using compatibility mode on local or intranet pages-->
  <meta charset="UTF-8">
  <title>Reference Page</title>
  <link rel="stylesheet" href="framework/style.css" type="text/css" />
 </head>

 <body>

 <div id="siteHeader"><div class="fixed_width">
  <a href="./index.html" id="title">
   <img src="framework/images/logo.png" id="logo" alt="logo"/>
   <span>Webknife HTML Reference</span>
 </a>
 </div></div>

 <div id="content"><div class="fixed_width">

 <h1>Reference for buttons</h1>
 <button type="button">Stardard</button>
 <button class="dark" type="button">Dark</button>

 <button class="small" type="button">Small</button>
 
 <button class="small colored" type="button">1</button>
 <button class="small colored" type="button">2</button>
 <button class="small colored" type="button">3</button>
 <button class="large" type="button">Large</button>
 <button class="large colored" type="button">Colored</button>
 
 <h1>Reference for typography</h1>
 
 <div>
  <a href="">Example Link</a> | <span class="falseLink">False Link</span> (useful for JavaScript apps)
 </div>
 
 <div>
  <span>Standard text</span> | <strong>Strong text</strong> | <em>Emphasised text</em> | <del>Deleted text</del>
 </div>
 
 <div>
  <span class="colored">Colored text</span> |  <span class="gray">Gray text</span> | <span class="red">Red text</span> | <span class="green">Green text</span>
 </div>
 
 <div>
  <span class="small">Small text</span> | <span>Standard text</span> | <span class="large">Large text</span> | <span class="massive">Massive text</span>
 </div>
 
 <h1>Example H1 heading</h1>
 <h2>Example H2 heading</h2>
 <h3>Example H3 heading</h3>
 <h4>Example H4 heading</h4>
 <h5>Example H5 heading</h5>
 <h6>Example H6 heading</h6>

 <h3 class="no-underline">Example H3 heading with no underline</h3>
  
 <p>
  Example paragraph. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
 </p>

 <p class="warning">
  Example warning paragraph. 
 </p>
 
 <blockquote>
 Example block quote.
 </blockquote>
 
<pre>
<code>//example code block
#include <iostream>
int main()
{
  std::cout << "Hello, world!\n";
}</code>
</pre>
   
 <ul>
  <li class="list-heading">List with heading</li>
  <li>Lorem ipsum</li>
  <li>Lorem ipsum</li>
 </ul>

 <ol>
  <li>Lorem ipsum</li>
  <li>Lorem ipsum</li>
 </ol>
 
 <h1>Reference for tables</h1>
  
 <table>
 <caption>Optional Table Caption</caption>
  <thead>
   <tr>
    <th>Heading</th>
    <th>Heading</th>
	<th>Heading</th>
   </tr>
  </thead>
  <tfoot>
   <!--optional
   <tr>
    <td>Footer</td>
    <td>Footer</td>
	<td>Footer</td>
   </tr>
   -->
  </tfoot>
  <tbody>
   <tr>
    <td>Lorem ipsum</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
	<td>Lorem ipsum</td>
   </tr>
   <tr>
    <td>Lorem ipsum</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
    <td>Lorem ipsum</td>
   </tr>
   <tr>
    <td>Lorem ipsum</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
    <td>Lorem ipsum</td>
   </tr>
   <tr>
    <td>Lorem ipsum</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
    <td class="bold red">Lorem ipsum</td>
   </tr>
      <tr>
    <td>Lorem ipsum</td>
    <td>Lorem ipsum dolor sit amet</td>
    <td class="icon tick"></td>
   </tr>
  </tbody>
 </table>

 <h1>Reference for forms</h1>
 
  <form style="width: 450px;" action="#">
  <fieldset><legend><p>Simple Form</p></legend><div>

   <div class="formField">
    <label for="name">Username</label> 
    <input type="text" name="name" />
   </div>

   <div class="formField">
    <label for="password">Password</label> 
    <input type="password" name="password" />
   </div>

  </div></fieldset>
  <div><input type="submit" value="Login" /></div>
 </form>
  
 <form style="width: 700px;" action="#">
  <fieldset><legend><p>Advanced form</p></legend><div>

   <p>Describe what this form is about?</p>

   <div class="formField">
    <label for="name">Text input</label>
    <input type="text" name="name" />
    <p>Describe what this field is about?</p>
   </div>

   <div  class="formField error">
    <label for="error">Text input (error)</label> 
    <input type="text" name="error" />
	<p>Describe an error</p>
   </div>

   <div class="formField">
    <label for="password">Password input</label> 
    <input type="password" name="password" />
   </div>

   <div class="formField">
    <label for="choices">Selection input</label> 
    <select name="choices">
     <option>Choice 1</option>
     <option>Choice 2</option>
     <option>Choice 3</option>
    </select>
   </div>
   
   <div class="formField">
    <label for="description">Textarea input</label> 
    <textarea name="description" rows="6">Example text</textarea>
   </div>

   <div style="clear:both;">&nbsp;</div><p>Another user question?</p>

   <div class="formField">
	<ul>
     <li><label for="A">Choice A</label><input type="radio" name="option" value="A" checked="checked"></li>
     <li><label for="B">Choice B</label><input type="radio" name="option" value="B"></li>
     <li><label for="C">Choice C</label><input type="radio" name="option" value="C"></li> 
	</ul>
   </div>

  </div></fieldset>

  <br/><fieldset><legend><p>Example Fieldset 2</p></legend><div>

   <div class="formField">
	<ul>
     <li><label for="One">Choice One</label><input type="checkbox" name="selections" value="One" checked="checked"></li>
     <li><label for="Two">Choice Two</label><input type="checkbox" name="selections" value="Two"></li>
     <li><label for="Three">Choice Three</label><input type="checkbox" name="selections" value="Three"></li>
	</ul>
   </div>

  </div></fieldset>
  <div><input type="submit" value="Submit" /></div>
 </form>

  <h1>Reference for iconography</h1>
 
 <h2>Standard</h2>
 <div style="background-color:#eee; height:27px; width:750px; text-align:center;">
  <div class="icon home"></div>
  <div class="icon search"></div>
  <div class="icon information"></div>
  <div class="icon tick"></div>
  <div class="icon cross"></div>
  <div class="icon add"></div>
  <div class="icon exclamation"></div>
  <div class="icon question"></div>
  <div class="icon download"></div>
  <div class="icon email"></div>
  <div class="icon person"></div>
  <div class="icon change"></div>
  <div class="icon database"></div>
  <div class="icon secure"></div>
  <div class="icon cart"></div>
  <div class="icon tools"></div>
  <div class="icon talk"></div>
  <div class="icon folder"></div>
  <div class="icon file"></div>
  <div class="icon zip-file"></div>
  <div class="icon pdf-file"></div>
  <div class="icon rss"></div>
  <div class="icon calendar"></div>
 </div>
 
 <h2>Inverted Variant</h2>
  <div style="background-color:#aaa; height:27px; width:750px; text-align:center;">
  <div class="icon home-inverted"></div>
  <div class="icon search-inverted"></div>
  <div class="icon information-inverted"></div>
  <div class="icon tick-inverted"></div>
  <div class="icon cross-inverted"></div>
  <div class="icon add-inverted"></div>
  <div class="icon exclamation-inverted"></div>
  <div class="icon question-inverted"></div>
  <div class="icon download-inverted"></div>
  <div class="icon email-inverted"></div>
  <div class="icon person-inverted"></div>
  <div class="icon change-inverted"></div>
  <div class="icon database-inverted"></div>
  <div class="icon secure-inverted"></div>
  <div class="icon cart-inverted"></div>
  <div class="icon tools-inverted"></div>
  <div class="icon talk-inverted"></div>
  <div class="icon folder-inverted"></div>
  <div class="icon file-inverted"></div>
  <div class="icon zip-file-inverted"></div>
  <div class="icon pdf-file-inverted"></div>
  <div class="icon rss-inverted"></div>
  <div class="icon calendar-inverted"></div>
 </div>
 
 <h2>Background Variant</h2>
 <div style="background-color:#eee; height:27px; width:750px; text-align:center;">
 <div class="icon home-background"></div>
 <div class="icon search-background"></div>
 <div class="icon information-background"></div>
 <div class="icon tick-background"></div>
 <div class="icon cross-background"></div>
 <div class="icon add-background"></div>
 <div class="icon exclamation-background"></div>
 <div class="icon question-background"></div>
 <div class="icon download-background"></div>
 <div class="icon email-background"></div>
 <div class="icon person-background"></div>
 <div class="icon change-background"></div>
 <div class="icon database-background"></div>
 <div class="icon secure-background"></div>
 <div class="icon cart-background"></div>
 <div class="icon tools-background"></div>
 <div class="icon talk-background"></div>
 <div class="icon folder-background"></div>
 <div class="icon file-background"></div>
 <div class="icon zip-file-background"></div>
 <div class="icon pdf-file-background"></div>
 <div class="icon rss-background"></div>
 <div class="icon calendar-background"></div>
 </div>
  
 </div></div> 

 <div id="base"><div class="fixed_width">
  <span>&nbsp;</span>
 </div></div>

 <div id="footer"><div class="fixed_width">
  <div>&copy;2011 The Webknife Project</div>
  <p>Licensed under the MIT license.</p>
 </div></div>

 </body>
</html>

