/* CSS reset (taken from http://meyerweb.com/eric/tools/css/reset/) - v2.0 | 20110126 (License: none - public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/*form styles*/
form {
 width: 700px;
 background-color:#f6f6f6;
 color: #666;
}
form div { /*right-align submit buttons*/
 text-align:right;
}
form p {
 padding: 15px 10px 15px 10px;
 font-weight: bold; 
}
fieldset {
 margin: 0 20px 0 20px;
 padding: 0 30px 0 30px;
 border-top: 1px solid #666;
 text-align: left;
}
legend {
 font-size:125%;
 font-weight:bold;
 padding: 10px 10px 10px 10px;
}

.formField{
 text-align: left;
 clear:both;
 padding: 20px 0 20px 0;
}
.formField p {
 float:right;
 font-size: 80%;
 font-style: italic;
 font-weight: normal;
 margin-right:5%;
 padding: 5px 0 5px 0;
 width:67%;
}
label {
 float: left;
 text-align: right;
 margin-right: 15px;
 width: 25%;
}
.error input {
 background-color:#ffd6d6;
}
.error p{
 color:red;
}

textarea, input[type=text], input[type=password]{
 width:70%; 
}
textarea { max-width: 70%;}
input[type=submit]{
 color:white;
 font-size:110%;
 background-color:#666;
 border:solid 1px #eee;
 padding: 3px 10px 3px 10px;
 margin: 0 15px 15px 0;
}
input[type=submit]:hover{
 background-color:#999;
}

