<!doctype html>
<html>
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" ><!--Prevent IE using compatibility mode on local or intranet pages. Do not put scripts before this line.-->
  <meta name="viewport" content="initial-scale=1.0" ><!--Prevent iOS scaling-->
  <meta charset="UTF-8">
  <title>Template</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="framework/framework.js"></script>
  <link rel="stylesheet" href="framework/style.css" type="text/css" />
 </head>

 <body>

 <div id="siteHeader"><div class="fixed_width">
  <a href="./index.html" id="title">
   <img src="framework/images/logo.png" id="logo" alt="logo"/>
   <span>Template</span>
  </a>
 </div></div>

 <div id="content"><div class="fixed_width">

 <!--paste <HTML elements here-->

 </div></div> 

 <div id="base"><div class="fixed_width">
  <span>&nbsp;</span>
 </div></div>

 <div id="footer"><div class="fixed_width">
  <div>&copy;YYYY Your Project</div>
  <p>License / copyright information.</p>
 </div></div>
 
 </body>
</html>

