
/*
 buttons
*/

.button-color(@color: @light, @text-color: @text) {
	border: 1px solid darken(@color, 10%);
	color: @text-color;
	background-color: @color;
	box-shadow: inset 0px 1px 4px lighten(@color, 10%);
		
	&:hover{
		background-color: saturate(@color, 1%);
		border-color: darken(@color, 20%);
		box-shadow: 0px 1px 1px @dark;
	}
	&:active{
		border-color: darken(@color, 40%);

	}
}

button, input[type=submit], input[type=button], .w-button-link {
	outline: 0; //'removes dotted outline in some browsers'
	height: 30px; //'set the height and line-height to avoid inconsistency across browsers (noteably IE)'
	line-height: 14px;
	cursor: pointer;
	padding: 0 9px 0 9px;
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	border-radius: 4px;

	& {
		.button-color;
	}

	&.dark {
		.button-color(@dark);
	}

	&.colored {
		.button-color(@brand-color, @light-text);
	}
	
	&.small {
		height: 22px; 
		line-height:11px; 
		padding: 0 6px 0 6px;
	}
	
	&.large {
		height: 46px; 
		line-height:23px; 
		font-size: 14px; 
		padding: 0 20px 0 20px; 
		border-width:2px; border-radius: 8px;
	}
	
	&.flat {
		border-bottom-left-radius: 0; 
		border-bottom-right-radius: 0; 
	}
}

.w-button-link {
	display: inline-block;
	text-decoration: none;
	line-height: 30px;	
	
	&.small {
		line-height:22px;
	}

	&.large {
		line-height:46px;
	}
}



