
/*
 additional resets
*/

a, button, input { outline: 0; } /*removes dotted outline in some browsers*/
strong { font-weight: bold; } em  { font-style: italic } /*fix strong and em (font:inherit in standard reset breaks these)*/

/*
 reused entities
*/

.w-clear-after::after, .w-clear { clear: both; height: 0; visibility: hidden; display: block; content:" "; } //'use to clear floats'

.border(@width: 1px) { border: @width solid @border; }

.fixed-color-text(@color: @brand-color) {
	color:@color;
	
	a, .w-false-link { color: @color!important; }
	
}

/*
 alignment
*/

.w-left {text-align: left; display: block; margin-left: 0; margin-right: auto;  }
.w-right {text-align: right; display: block; margin-left: auto; margin-right: 0;  }
.w-center {text-align: center; display: block; margin-left: auto; margin-right: auto; }

.w-inline { display: inline; }

/*
 misc. entities
*/

#w-browser-warning { text-align: center; }




