

@logo_height: 42px;
@logo_width: 90px;
@logo_path: 90px;

//Dimensions


@page_width: 980px; //980px default is recommended for iPad

//Site colors

@brand_color: #385691;
@page_background: #fff;

//Text colors

//@regular: ;
@interface_text: #444;

//Link colors

//@link: ;
//@visited: ; 
//@hover: ;


//Page colors

@light: #eee;
@medium: #ddd;
@dark: #bbb;
@border: #999;


a, .falseLink { color:@brand_color; }
a:visited { color: #888 }
a:hover, .falseLink:hover { color: #4a72c1; text-decoration: none; }
.falseLink{text-decoration: underline; cursor: pointer; }