.w-icon.w-accept { width: 16px; height: 16px; background-position: -1px -1px; }
.w-icon.w-add { width: 16px; height: 16px; background-position: -19px -1px; }
.w-icon.w-application { width: 16px; height: 16px; background-position: -1px -19px; }
.w-icon.w-application_terminal { width: 16px; height: 16px; background-position: -19px -19px; }
.w-icon.w-arrow_anticlockwise { width: 16px; height: 16px; background-position: -37px -1px; }
.w-icon.w-arrow_clockwise { width: 16px; height: 16px; background-position: -37px -19px; }
.w-icon.w-arrow_down { width: 16px; height: 16px; background-position: -1px -37px; }
.w-icon.w-arrow_left { width: 16px; height: 16px; background-position: -19px -37px; }
.w-icon.w-arrow_refresh { width: 16px; height: 16px; background-position: -37px -37px; }
.w-icon.w-arrow_right { width: 16px; height: 16px; background-position: -55px -1px; }
.w-icon.w-arrow_up { width: 16px; height: 16px; background-position: -55px -19px; }
.w-icon.w-attach { width: 16px; height: 16px; background-position: -55px -37px; }
.w-icon.w-calendar { width: 16px; height: 16px; background-position: -1px -55px; }
.w-icon.w-cart { width: 16px; height: 16px; background-position: -19px -55px; }
.w-icon.w-chart_bar { width: 16px; height: 16px; background-position: -37px -55px; }
.w-icon.w-chart_pie { width: 16px; height: 16px; background-position: -55px -55px; }
.w-icon.w-cog { width: 16px; height: 16px; background-position: -73px -1px; }
.w-icon.w-color_swatch { width: 16px; height: 16px; background-position: -73px -19px; }
.w-icon.w-comment { width: 16px; height: 16px; background-position: -73px -37px; }
.w-icon.w-comment_add { width: 16px; height: 16px; background-position: -73px -55px; }
.w-icon.w-comment_delete { width: 16px; height: 16px; background-position: -1px -73px; }
.w-icon.w-comments { width: 16px; height: 16px; background-position: -19px -73px; }
.w-icon.w-cross { width: 16px; height: 16px; background-position: -37px -73px; }
.w-icon.w-database { width: 16px; height: 16px; background-position: -55px -73px; }
.w-icon.w-database_add { width: 16px; height: 16px; background-position: -73px -73px; }
.w-icon.w-database_delete { width: 16px; height: 16px; background-position: -91px -1px; }
.w-icon.w-delete { width: 16px; height: 16px; background-position: -91px -19px; }
.w-icon.w-disk { width: 16px; height: 16px; background-position: -91px -37px; }
.w-icon.w-email { width: 16px; height: 16px; background-position: -91px -55px; }
.w-icon.w-exclamation { width: 16px; height: 16px; background-position: -91px -73px; }
.w-icon.w-feed { width: 16px; height: 16px; background-position: -1px -91px; }
.w-icon.w-folder { width: 16px; height: 16px; background-position: -19px -91px; }
.w-icon.w-folder_add { width: 16px; height: 16px; background-position: -37px -91px; }
.w-icon.w-folder_delete { width: 16px; height: 16px; background-position: -55px -91px; }
.w-icon.w-group { width: 16px; height: 16px; background-position: -73px -91px; }
.w-icon.w-help { width: 16px; height: 16px; background-position: -91px -91px; }
.w-icon.w-home { width: 16px; height: 16px; background-position: -109px -1px; }
.w-icon.w-information { width: 16px; height: 16px; background-position: -109px -19px; }
.w-icon.w-link { width: 16px; height: 16px; background-position: -109px -37px; }
.w-icon.w-lock { width: 16px; height: 16px; background-position: -109px -55px; }
.w-icon.w-lock_open { width: 16px; height: 16px; background-position: -109px -73px; }
.w-icon.w-page { width: 16px; height: 16px; background-position: -109px -91px; }
.w-icon.w-page_acrobat { width: 16px; height: 16px; background-position: -1px -109px; }
.w-icon.w-page_add { width: 16px; height: 16px; background-position: -19px -109px; }
.w-icon.w-page_code { width: 16px; height: 16px; background-position: -37px -109px; }
.w-icon.w-page_compressed { width: 16px; height: 16px; background-position: -55px -109px; }
.w-icon.w-page_copy { width: 16px; height: 16px; background-position: -73px -109px; }
.w-icon.w-page_delete { width: 16px; height: 16px; background-position: -91px -109px; }
.w-icon.w-page_edit { width: 16px; height: 16px; background-position: -109px -109px; }
.w-icon.w-page_excel { width: 16px; height: 16px; background-position: -127px -1px; }
.w-icon.w-page_gear { width: 16px; height: 16px; background-position: -127px -19px; }
.w-icon.w-page_magnify { width: 16px; height: 16px; background-position: -127px -37px; }
.w-icon.w-page_paste { width: 16px; height: 16px; background-position: -127px -55px; }
.w-icon.w-page_powerpoint { width: 16px; height: 16px; background-position: -127px -73px; }
.w-icon.w-page_text { width: 16px; height: 16px; background-position: -127px -91px; }
.w-icon.w-page_word { width: 16px; height: 16px; background-position: -127px -109px; }
.w-icon.w-page_zip { width: 16px; height: 16px; background-position: -1px -127px; }
.w-icon.w-picture { width: 16px; height: 16px; background-position: -19px -127px; }
.w-icon.w-picture_add { width: 16px; height: 16px; background-position: -37px -127px; }
.w-icon.w-picture_delete { width: 16px; height: 16px; background-position: -55px -127px; }
.w-icon.w-printer { width: 16px; height: 16px; background-position: -73px -127px; }
.w-icon.w-resultset_first { width: 16px; height: 16px; background-position: -91px -127px; }
.w-icon.w-resultset_last { width: 16px; height: 16px; background-position: -109px -127px; }
.w-icon.w-resultset_next { width: 16px; height: 16px; background-position: -127px -127px; }
.w-icon.w-resultset_previous { width: 16px; height: 16px; background-position: -145px -1px; }
.w-icon.w-search { width: 16px; height: 16px; background-position: -145px -19px; }
.w-icon.w-spellcheck { width: 16px; height: 16px; background-position: -145px -37px; }
.w-icon.w-text_align_center { width: 16px; height: 16px; background-position: -145px -55px; }
.w-icon.w-text_align_justify { width: 16px; height: 16px; background-position: -145px -73px; }
.w-icon.w-text_align_left { width: 16px; height: 16px; background-position: -145px -91px; }
.w-icon.w-text_align_right { width: 16px; height: 16px; background-position: -145px -109px; }
.w-icon.w-text_bold { width: 16px; height: 16px; background-position: -145px -127px; }
.w-icon.w-text_italic { width: 16px; height: 16px; background-position: -1px -145px; }
.w-icon.w-text_list_bullets { width: 16px; height: 16px; background-position: -19px -145px; }
.w-icon.w-text_list_numbers { width: 16px; height: 16px; background-position: -37px -145px; }
.w-icon.w-text_underline { width: 16px; height: 16px; background-position: -55px -145px; }
.w-icon.w-tick { width: 16px; height: 16px; background-position: -73px -145px; }
.w-icon.w-user { width: 16px; height: 16px; background-position: -91px -145px; }
.w-icon.w-user_add { width: 16px; height: 16px; background-position: -109px -145px; }
.w-icon.w-user_delete { width: 16px; height: 16px; background-position: -127px -145px; }
.w-icon.w-warning { width: 16px; height: 16px; background-position: -145px -145px; }
