.w-icon.w-icon-accept { width: 16px; height: 16px; background-position: -1px -1px; }
.w-icon.w-icon-add { width: 16px; height: 16px; background-position: -19px -1px; }
.w-icon.w-icon-application-terminal { width: 16px; height: 16px; background-position: -1px -19px; }
.w-icon.w-icon-application { width: 16px; height: 16px; background-position: -19px -19px; }
.w-icon.w-icon-arrow-anticlockwise { width: 16px; height: 16px; background-position: -37px -1px; }
.w-icon.w-icon-arrow-clockwise { width: 16px; height: 16px; background-position: -37px -19px; }
.w-icon.w-icon-arrow-down { width: 16px; height: 16px; background-position: -1px -37px; }
.w-icon.w-icon-arrow-left { width: 16px; height: 16px; background-position: -19px -37px; }
.w-icon.w-icon-arrow-refresh { width: 16px; height: 16px; background-position: -37px -37px; }
.w-icon.w-icon-arrow-right { width: 16px; height: 16px; background-position: -55px -1px; }
.w-icon.w-icon-arrow-up { width: 16px; height: 16px; background-position: -55px -19px; }
.w-icon.w-icon-attach { width: 16px; height: 16px; background-position: -55px -37px; }
.w-icon.w-icon-calendar { width: 16px; height: 16px; background-position: -1px -55px; }
.w-icon.w-icon-cart { width: 16px; height: 16px; background-position: -19px -55px; }
.w-icon.w-icon-chart-bar { width: 16px; height: 16px; background-position: -37px -55px; }
.w-icon.w-icon-chart-pie { width: 16px; height: 16px; background-position: -55px -55px; }
.w-icon.w-icon-cog { width: 16px; height: 16px; background-position: -73px -1px; }
.w-icon.w-icon-color-swatch { width: 16px; height: 16px; background-position: -73px -19px; }
.w-icon.w-icon-comment-add { width: 16px; height: 16px; background-position: -73px -37px; }
.w-icon.w-icon-comment-delete { width: 16px; height: 16px; background-position: -73px -55px; }
.w-icon.w-icon-comment { width: 16px; height: 16px; background-position: -1px -73px; }
.w-icon.w-icon-comments { width: 16px; height: 16px; background-position: -19px -73px; }
.w-icon.w-icon-cross { width: 16px; height: 16px; background-position: -37px -73px; }
.w-icon.w-icon-database-add { width: 16px; height: 16px; background-position: -55px -73px; }
.w-icon.w-icon-database-delete { width: 16px; height: 16px; background-position: -73px -73px; }
.w-icon.w-icon-database { width: 16px; height: 16px; background-position: -91px -1px; }
.w-icon.w-icon-delete { width: 16px; height: 16px; background-position: -91px -19px; }
.w-icon.w-icon-disk { width: 16px; height: 16px; background-position: -91px -37px; }
.w-icon.w-icon-email { width: 16px; height: 16px; background-position: -91px -55px; }
.w-icon.w-icon-exclamation { width: 16px; height: 16px; background-position: -91px -73px; }
.w-icon.w-icon-feed { width: 16px; height: 16px; background-position: -1px -91px; }
.w-icon.w-icon-folder-add { width: 16px; height: 16px; background-position: -19px -91px; }
.w-icon.w-icon-folder-delete { width: 16px; height: 16px; background-position: -37px -91px; }
.w-icon.w-icon-folder { width: 16px; height: 16px; background-position: -55px -91px; }
.w-icon.w-icon-group { width: 16px; height: 16px; background-position: -73px -91px; }
.w-icon.w-icon-help { width: 16px; height: 16px; background-position: -91px -91px; }
.w-icon.w-icon-home { width: 16px; height: 16px; background-position: -109px -1px; }
.w-icon.w-icon-information { width: 16px; height: 16px; background-position: -109px -19px; }
.w-icon.w-icon-link { width: 16px; height: 16px; background-position: -109px -37px; }
.w-icon.w-icon-lock-open { width: 16px; height: 16px; background-position: -109px -55px; }
.w-icon.w-icon-lock { width: 16px; height: 16px; background-position: -109px -73px; }
.w-icon.w-icon-page-acrobat { width: 16px; height: 16px; background-position: -109px -91px; }
.w-icon.w-icon-page-add { width: 16px; height: 16px; background-position: -1px -109px; }
.w-icon.w-icon-page-code { width: 16px; height: 16px; background-position: -19px -109px; }
.w-icon.w-icon-page-compressed { width: 16px; height: 16px; background-position: -37px -109px; }
.w-icon.w-icon-page-copy { width: 16px; height: 16px; background-position: -55px -109px; }
.w-icon.w-icon-page-delete { width: 16px; height: 16px; background-position: -73px -109px; }
.w-icon.w-icon-page-edit { width: 16px; height: 16px; background-position: -91px -109px; }
.w-icon.w-icon-page-excel { width: 16px; height: 16px; background-position: -109px -109px; }
.w-icon.w-icon-page-gear { width: 16px; height: 16px; background-position: -127px -1px; }
.w-icon.w-icon-page-magnify { width: 16px; height: 16px; background-position: -127px -19px; }
.w-icon.w-icon-page-paste { width: 16px; height: 16px; background-position: -127px -37px; }
.w-icon.w-icon-page-powerpoint { width: 16px; height: 16px; background-position: -127px -55px; }
.w-icon.w-icon-page-text { width: 16px; height: 16px; background-position: -127px -73px; }
.w-icon.w-icon-page-word { width: 16px; height: 16px; background-position: -127px -91px; }
.w-icon.w-icon-page-zip { width: 16px; height: 16px; background-position: -127px -109px; }
.w-icon.w-icon-page { width: 16px; height: 16px; background-position: -1px -127px; }
.w-icon.w-icon-picture-add { width: 16px; height: 16px; background-position: -19px -127px; }
.w-icon.w-icon-picture-delete { width: 16px; height: 16px; background-position: -37px -127px; }
.w-icon.w-icon-picture { width: 16px; height: 16px; background-position: -55px -127px; }
.w-icon.w-icon-printer { width: 16px; height: 16px; background-position: -73px -127px; }
.w-icon.w-icon-resultset-first { width: 16px; height: 16px; background-position: -91px -127px; }
.w-icon.w-icon-resultset-last { width: 16px; height: 16px; background-position: -109px -127px; }
.w-icon.w-icon-resultset-next { width: 16px; height: 16px; background-position: -127px -127px; }
.w-icon.w-icon-resultset-previous { width: 16px; height: 16px; background-position: -145px -1px; }
.w-icon.w-icon-search { width: 16px; height: 16px; background-position: -145px -19px; }
.w-icon.w-icon-spellcheck { width: 16px; height: 16px; background-position: -145px -37px; }
.w-icon.w-icon-text-align-center { width: 16px; height: 16px; background-position: -145px -55px; }
.w-icon.w-icon-text-align-justify { width: 16px; height: 16px; background-position: -145px -73px; }
.w-icon.w-icon-text-align-left { width: 16px; height: 16px; background-position: -145px -91px; }
.w-icon.w-icon-text-align-right { width: 16px; height: 16px; background-position: -145px -109px; }
.w-icon.w-icon-text-bold { width: 16px; height: 16px; background-position: -145px -127px; }
.w-icon.w-icon-text-italic { width: 16px; height: 16px; background-position: -1px -145px; }
.w-icon.w-icon-text-list-bullets { width: 16px; height: 16px; background-position: -19px -145px; }
.w-icon.w-icon-text-list-numbers { width: 16px; height: 16px; background-position: -37px -145px; }
.w-icon.w-icon-text-underline { width: 16px; height: 16px; background-position: -55px -145px; }
.w-icon.w-icon-tick { width: 16px; height: 16px; background-position: -73px -145px; }
.w-icon.w-icon-user-add { width: 16px; height: 16px; background-position: -91px -145px; }
.w-icon.w-icon-user-delete { width: 16px; height: 16px; background-position: -109px -145px; }
.w-icon.w-icon-user { width: 16px; height: 16px; background-position: -127px -145px; }
.w-icon.w-icon-warning { width: 16px; height: 16px; background-position: -145px -145px; }
