/*
Webknife CSS configurable options
*/

/*
 page dimensions
*/

$page-width: 980px; //default is 980px (recommended for iPad)

/*
 form width
*/

$form-width: 500px;

/*
 logo dimensions (should match the logo image file)
*/

$logo-height: 42px;
$logo-width: 90px;

/*
 page color scheme
*/

$brand-color: #385691;

$content-background: #fff;
$light: #eee;
$medium: #ddd;
$dark: #bbb;
$border: #999;

/*
 text color scheme
*/

$text: #444;
$link: $brand-color;
$hover: #4a72c1;
$visited: #888;
$focus: #4b91ff;

$success: #ccffbc;
$warning: #fff0bd;
$error: #ffe6e6;
$information: #bdccff;

$light-text: #fff; //'color for text on dark backgrounds'



