/*
 icons
*/

.w-icon {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 0;
	overflow: hidden; // avoid changing the dimensions of container when SVG is injected
}

.w-icon svg {
	margin: 0;
  	fill: $brand-color;
}

/*button icons*/

.w-icon-button {
	padding-left: 2px;

	.w-icon {
		display: inline-block;
		float: left;
		width: 28px;
		height: 28px;
		padding: 0;
		margin:0;

		> svg {
			fill: $text;
		}
	}

	span:nth-child(2) {
		display: inline-block;
		padding: 4px 0 0 2px;
	}
}

/*message icons*/

.w-message > .w-icon {
	width: 21px;
	height: 21px;
	float: left;
	margin-right: 5px;
}

.w-success > .w-icon svg { fill: darken($success, 60%); }
.w-warning > .w-icon svg { fill: darken($warning, 60%); }
.w-error > .w-icon svg { fill: darken($error, 60%); }
.w-information > .w-icon svg { fill: darken($information, 60%); }

td.center {display: table-cell;}
