
/*
 page
*/

html
{
	background-color: $brand-color; //'make short pages appear to stretch to bottom'
	color: $text;

	body
	{

		min-width: $page-width + 40;

		.w-fixed-width {
			width: $page-width;
			margin: 0 auto;
		}

	}
}

/*
 header
*/

header
{
	@include fixed-color-text();

	background-color: $content-background;
	border-top: 2px solid $brand-color;
	border-bottom: 2px solid $brand-color;

	.header-title {

		border: 1px solid blue;
		padding: 30px 0 30px 0;
		float:left;

		> a { 
			text-decoration:none;
			font-weight: bold;
			font-size: 16px;
			
			div {
				background-repeat: no-repeat;
				height: $logo-height; line-height: $logo-height; //'vertical center'
				padding-left: $logo-width + 25;
			}
		}
	}

	.header-extra {
		border: 1px solid red;
		float: right;
	}

	&::after {
		@extend .w-clear
	}

}

/*
 footer
*/

footer {

	div { 
		padding: 15px 0 15px 0;
	}

	> div:first-child {
		background-color:$medium;
		border-top: 2px solid $dark;
		border-bottom: 2px solid $dark;
	}

	> div:nth-child(2) {
	
		@include fixed-color-text($light-text);
	
		text-align: center;
		line-height: 35px;
		
		> p:nth-child(2) {
			font-size: 10px;
			line-height: 12px;
		}
	}

}

/*
 page content
*/

section {

	background-color: $content-background;
	padding: 25px 0 25px 0;

	> div p, > div div, > div pre, > div ul, > div ol, > div table, > div blockquote {
		margin: 20px 0 20px 0; 
	}

}
