
.w-table {
	width: 700px;
	
	td, th { 
		@include border(1px);
		padding: 2px 15px 2px 15px;
		height: 25px;
		vertical-align: middle;
	}

	th, tfoot td {
		background-color:$medium;
		font-weight:bold;
	}

	caption { 
		caption-side: bottom;
		font-weight: bold; 
		padding: 15px;
	}

	//'fixed-width forces the cell sizing to be independent of content'
	//'therefore need to break long words to prevent them overflowing into the next cell'
	&.w-fixed {
		table-layout: fixed;
		word-wrap: break-word;
	}

	//'optionally set .w-stripe to stripe a table'
	&.w-stripe tbody tr:nth-of-type(2n){ background-color: $light; }
	
	//'override display:block on the w-center class within tables'
	th.w-center, td.w-center { display:table-cell; }
}





