
/*
 tabs
*/

.w-tab {list-style: none; padding:0; margin:0;} /*override defaults for ul*/
.w-tab li {
	float:left;
	margin-right:5px;
	font-size: 20px;
	display: block;
	background-color: $light;
	margin-bottom: -1px;
	border: 1px solid $border;
	border-width: 1px;
	position:relative;
	color: darken($dark, 10%);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.w-tab li.w-active {
	background-color: $content-background;
	top: 1px;
	border-bottom: 0;
	span, a {
		color: $text;
		font-weight: bold;
	}
	.w-icon > svg {
		fill: $text;
	}
}
.w-tab li:hover { cursor: pointer; background-color: $medium; }
.w-tab li.w-active:hover{ cursor: text; background-color: $content-background; }
.w-tab li.w-disabled:hover{ cursor: text; background-color: $light; }
.w-tab li span {
	display: inline-block;
	padding: 10px 8px 10px 8px;
}
.w-tab li a { 
	color: darken($dark, 10%);
	text-decoration: none;
}

.w-tab-content {
	border: 1px solid $border;
	padding: 15px;
	margin: 0;
}
.w-tab::after { clear: both; height: 0; visibility: hidden; display: block; content:"";}

/*icons*/

.w-tab li a, .w-tab .w-disabled {

	.w-icon {
		display: inline-block;
		float: left;
		width: 28px;
		height: 28px;
		padding: 6px 4px 0 6px;
		margin: 0;

		> svg {
			fill: darken($dark, 10%);
		}
	}

	.w-icon + span, .w-icon + a {
		padding-left: 0;
	}
}

.w-tab .w-disabled .w-icon > svg {
	cursor: text;
}